<section id="section1">
    <h1>LEANDRO <span>ARBELO</span></h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum vel non sapiente animi assumenda, pariatur eum, unde dolores error doloremque ipsa. Nesciunt fugiat aliquid doloremque.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam rem quibusdam quis libero velit deleniti alias voluptatibus quasi doloremque adipisci, incidunt consequuntur aut quae voluptatum dolore quaerat amet, voluptate iusto ratione ipsam? Quo explicabo neque quam fuga, quibusdam unde eum, dolor molestias debitis odio animi id nesciunt eveniet quis modi?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium amet, fugiat non esse atque molestias repudiandae officia doloribus maxime saepe explicabo nostrum dolor adipisci quasi. Dicta, cupiditate modi enim quia nostrum repudiandae! Quod veritatis repellat consequuntur excepturi dolor totam quibusdam maxime ea eveniet sequi alias natus enim doloribus, illum, reiciendis dignissimos corporis repellendus. Autem, vitae magnam eaque numquam blanditiis nemo incidunt vero, ipsa cumque id laborum laboriosam deserunt excepturi facilis commodi consectetur perferendis qui! Molestiae blanditiis voluptatem similique cumque quas sit repellendus praesentium? Hic magni, temporibus possimus ipsum provident excepturi consequuntur consequatur veniam at. Dolores numquam vitae odio a vero?</p>






</section>